@import "../../styles/mixins.scss";
.button {
	height: 2.5rem;
	padding: 0.2rem 3rem;
	border: none;
	border-radius: 50px;
	background-color: var(--color-primary);
	color: var(--color-light);
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	@include medium {
		height: 3.5rem;
		padding: 0.6rem 3rem;
	}

	&:hover {
		background-color: var(--color-tertiary);
		color: var(--color-primary);
		transform: scale(1.1);
	}

	&.disabled {
		background-color: var(--color-grey);
		cursor: not-allowed;

		&:hover {
			background-color: var(--color-grey);
			color: var(--color-light);
			transform: none;
		}
	}
}
