.answerdisplay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: -1;

	&__test {
		position: absolute;
		left: 0;
		top: 80%;
	}

	&__answer {
		position: absolute;
		width: fit-content;
		padding: 0.5rem 1.5rem;
		background-color: var(--color-tertiary);
		border-radius: 5rem;
		animation: answerAnimation 4.8s ease-out;
		opacity: 0;
		transform: translateX(-50%);
	}
}

@keyframes answerAnimation {
	0% {
		opacity: 0;
		transform: scale(0.6) translateX(-50%);
	}

	15% {
		opacity: 1;
		transform: scale(1.2) translateX(-50%);
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: scale(0.6) translateX(-50%);
	}
}
