:root {
	--color-light: #ffffff;
	--color-dark: #000000;
	--color-grey: #e5e5e5;
	--color-primary: #023047;
	--color-secondary: #fefae0;
	--color-tertiary: #8ecae6;
	--color-tertiary-40: #8ecae640;
	--color-denied: #d6282840;
	--color-error: #c1121f;
	--font-name: "Poppins", sans-serif;
}

$test: tomato;
