.lobbyform {
	margin-top: 200px;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&__option {
		position: relative;
		width: 100%;
		padding: 1rem 1rem;
		cursor: pointer;
		user-select: none;

		span {
			margin-left: 0.8rem;
		}

		.option__background {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border-radius: 0.5rem;
			background-color: var(--color-tertiary-40);
			z-index: -1;
		}

		input[type="checkbox"]:checked + .option__background {
			background-color: var(--color-tertiary);
		}
	}
}
