html {
    font-size: 16px;
    font-family: var(--font-name);
    color: var(--color-tertiary);
    background-color: var(--color-dark);

    @include medium {
        font-size: 14px;
    }

    @include small {
        font-size: 12px;
    }
}
