.username {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	&__text {
		height: 3rem;
		width: 300px;
		font-size: 1rem;
		border-radius: 50px;
		border: none;
		padding: 1rem;

		&--error {
			border: 2px solid var(--color-error);

		}
	}

	&__button {
		width: 200px;
	}

	&__error {
		color: var(--color-error);
	}
}
